:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: black;
    overflow: hidden;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

#app {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#map {
    flex: 1;
    display: flex;
}

.app-title {
    font-size: 20px;
    position: absolute;
    left: 30px;
    top: 30px;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-bottom: 1px solid white;
}

#attribution{
    position: absolute;
    left: 30px;
    bottom: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#tools {
    position: absolute;
    right: 30px;
    top: 30px;
    color: white;
    text-shadow: 1px 1px 1px black;
}
