:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #ddd;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    place-items: center;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #555;
}

::-webkit-scrollbar-thumb {
    background-color: #777;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

#app {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#left-side {
    position: relative;
    width: 300px;
    border-right: 1px solid #333;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0px 5px black;
}
.head {
    background-color: black;
    border-bottom: 1px solid #333;
    border-right: 5px solid #555;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.head > #title {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}

.dir {
    flex: 1;
    overflow-y: scroll;
}

#example > li {
    cursor: pointer;
}

#example > li:hover {
    color: #646cff;
}

#example > li:active {
    font-weight: bold;
}

#example > .current {
    color: red;
    font-weight: bold;
}

.tip {
    text-align: center;
    border-top: 1px solid #333;
    border-right: 5px solid #555;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: default;
}

.tip .control-icon {
    width: 60px;
    height: 60px;
    text-align: center;
    filter: drop-shadow(0 0 0.8rem #ccc);
}

#frame {
    flex: 1;
}
